<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
<div class="container">
<div class="state_table">
<form method="post",action="/" >
    <table>
        <thead>
        <tr>
            <th>PS</th>
            <th>NS
                <br>
                X=0 X=1
            </th>
            <th>Output
                {% if output_length==2 %}
                <br>
                X=0 X=1
                {% endif %}
            </th>
        </tr>
        </thead>

        <tbody>

            {% for i in graph%}
            <tr>
            <td>{{i.ps}}</td>
            <td style="display:flex; justify-content:space-around;"><p>{{i.ns0}}</p><p>{{i.ns1}}</p></td>
            <td>{{i.output}}</td>
            </tr>
            {% endfor %}

        <tr>
            <td><input name="ps" ></td>
            <td> <input name="ns0" ><input name="ns1" ></td>
            <td> <input name="output" ></td>
        </tr>


        </tbody>


    </table>
    <button name="action" type="submit" value="add">Add</button>
    <button name="action" type="submit" value="remove">Remove</button>
</form>
</div>

<div class="implication_table">
{% set ns = namespace(k=0) %}
{% for i in range(0,count)%}
<div class="imp_holder">
{%if i!=count-1%}
<p style="width:2%;">{{graph[i+1]["ps"]}}</p>
{%endif%}

{% for j in range(0,count)%}
{%if i!=count-1%}
{% if i>=j %}
<div class="box">

    <p class="imp">
    {%for ch in implication_table[ns.k]%}
    {% if ch=="X" or ch=="."%}
    <p class="err" style="width:0px; height:0px; display:inline-block;"></p>
    {%elif ch=="/"%}
    <br>
    {%elif ch=="✔"%}
    {{ch}}<p class="tick" style="width:0px; height:0px; display:inline-block;"></p>
    {%else%}
    {{ch}}
    {%endif%}
    {%endfor%}


</p></div>
 {% set ns.k = ns.k + 1 %}

{%endif%}
{%endif%}
{% endfor %}
{%if i!=count-1%}

{%endif%}
</div>
{%endfor%}

<div class="imp_holder" style="margin-left:5%;">
{% for i in range(1,count)%}
<p style="width:7.5%;">{{graph[i-1]["ps"]}}</p>
{%endfor%}
</div>

</div>
    </div>



<div class="results">

<div class="set">
    <h1 style="border-bottom:2px solid black;"><l>Equivelant Classes</bold></h1>
    <h2>{{sets}}</h2>
</div>

<div class="error">
<h1 style="color:red">
    {{error}}
</h1>
</div>

<div class="state_results">
 <table>
        <thead>
        <tr>
            <th>PS</th>
            <th>NS
                <br>
                X=0 X=1
            </th>
            <th>Output
                {% if output_length==2 %}
                <br>
                X=0 X=1
                {% endif %}
            </th>
        </tr>
        </thead>

        <tbody>

            {% for i in results%}
            <tr>
            <td>{{i.ps}}</td>
            <td style="display:flex; justify-content:space-around;"><p>{{i.ns0}}</p><p>{{i.ns1}}</p></td>
            <td>{{i.output}}</td>
            </tr>
            {% endfor %}

        </tbody>


    </table>
</div>

</div>

</body>
</html>
